<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<title>Club</title>
<h1>Welcome to the club!</h1>
<form action="" method="post">
    <fieldset>
        <legend>New member</legend>
    <div>{{ form.name.label }}: {{ form.name }}</div>
    <div>{{ form.email.label }}: {{ form.email }}</div>
        <input type="submit" value="Save">
        <input type="reset" value="Clear">
    </fieldset>
</form>
{% for field, errors in form.errors.items() %}
    <small class="error">
        {{ ', '.join(errors) }}
    </small>
{% endfor %}
<table border="1">
  <caption>Members</caption>
  <thead>
    <tr>
      <th><label for="e1">#</label></th>
      <th><label for="e2">Name</label></th>
      <th><label for="e3">Email</label></th>
      <th><label for="e4">Registration date</label></th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in data.items() %}
    <tr>
      <td>{{ loop.index0 + 1 }}</td>
      <td>{{ value[0] }}</td>
      <td>{{ key }}</td>
      <td>{{ value[1] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
